:root {
  --YELLOW: yellow; /* Change 'yellow' to your desired yellow color */
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}
a{
    text-decoration: none ;
    color:#fff;
    transition:0.3s; 
  }
body{
    font-family: "Poppins","sans-serif";
    background: #050c19;
    color: #fff;
}
html{
  scroll-behavior: smooth;
}
p{
  color: rgb(85,85, 85);
}
a, .btn{
  transition: all 300ms ease;
}
/*nav*/
nav,
.nav-links{
display: flex;
}
nav{
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}
.nav-links{
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}
a{
  color: #fff;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover{
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}
.logo{
  font-size: 2rem;
  margin-right: 20px;
}
.logo:hover{
  cursor: default;
}
/*Hamburger Menu*/

#hamburger-nav{
  display: none;
}
.hamburger-menu{
  position: relative;
  display: inline-block;
}
.hamburger-icon{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor:pointer;
}
.hamburger-icon span{
  height: 2px;
  width: 100%;
  background-color: white;
  transition: all 0.3 ease-in-out;
}
.menu-links{
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;

}
.menu-links a{
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}
.menu-links li{
  list-style: none;
}
.menu-links.open{
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}
* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}
.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 3rem;
  height: 80vh;
}
.section_pic-container {
  display: flex;
  height: 400px;
  margin: auto 20px;
  
  
}
.section_text {
  align-self: center;
  text-align: center;
}
.title {
margin-bottom: 20px;

  font-size: 2rem;
  text-align: center;

}

.section_text p {
  font-weight: 600;
}

.section_text_p1 {
  text-align: center;
}

.section_text_p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color:#fff;
  align-self: center;
  text-align: center;
}
.section_text_p3
{
  font-size: 1rem;
  margin-bottom: 0.2rem;
  color:#fff;
  max-width: 600px; /* Adjust the maximum width as needed */
  word-wrap: break-word;
}
.title {
  font-size: 2rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 20px 10px 10px 10px;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
  color: #fff;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background:#4d3399;
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}


* ABOUT SECTION */
.about {
  padding: 50px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 
.about-content {
  flex: 1;
  margin-right: 50px;
}

.about p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 15px;
}

 #about {
  position: relative;
} */
/* .about-containers {
  gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
} */
.about-details-container
.about-details-container h4 {
  /* justify-content: center;
  flex-direction: column; */
  font-size: 1rem;
  margin: auto 10px 50px;
  color:gray;
  max-width: 600px; /* Adjust the maximum width as needed */
  word-wrap: break-word;
}


.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  width: 100px; /* Adjust width as needed */
  height: 100px;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section_pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}
.container {
  justify-content: center; /* Horizontally center content */
  align-items: center; /* Vertically center content */
}
/*edu*/

.education, .experience {
  padding: 20px;
}

.education h2, .experience h2 {
  margin-bottom: 20px;
}

.entry {
  background-color: #050c19; /* Dark shade of blue */
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 40%;
    border: 2px solid #043959; /* Dark shade of blue border */
}
.experience .entry {
  display: inline-block; /* Display entries horizontally */
  width: calc(33.33% - 20px); /* Adjust width to fit 3 entries per row */
  margin-right: 20px; /* Add right margin for spacing between entries */
  vertical-align: top; /* Align entries to the top */
  width: 450px; /* Fixed width */
  height: 400px;
}

.experience .entry:last-child {
  margin-right: 0; /* Remove right margin from last entry to prevent overflow */
}

.entry h3 {
  color: #fff;
}

.details {
  color: #ccc;
  margin-bottom: 5px;
}

.description {
  color: #ccc;
  margin-top: 10px;
  line-height: 1.4;
}
.education-all{
  display: flex; /* Change display to flex */
  justify-content: space-around;
  align-items: center; /* Vertically center items */
  margin: auto;
  flex-direction: row;
  
}
/* .education{
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
} */
.edu-list {
  /* Add display: flex and remove default padding */
  display: flex;
  padding: 0;
}
.edu-list .item{
  display: inline-block;
  background: white;
  box-shadow: purple;
  border-bottom: 3px solid red;
  padding: 20px;
  margin-top:15px;
  border-radius:6px;
  transition: .3s ease;
  margin-right: 20px;
  align-items: center;
  
}
.edu-list .item p span{
font-weight: 500;
}
/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/*PROJECT*/
.projects {
  padding: 20px;
  text-align: center;
}

.projects h2 {
  margin-bottom: 20px;
}

.project {
  width: 450px; /* Set the width */
  height: 650px; /* Set the height */
  border: 1px solid #043959; /* Border color same as background */
  overflow: hidden; /* Hide overflow content */
  display: inline-block;
  margin-right: 20px; /* Add margin between the project boxes */
}

.project:last-child {
    margin-right: 0; /* Remove margin from the last project box */
}

.project img {
  width: 100%; /* Make the image fill the container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px 10px 0 0; /* Round the top corners */
}

.project-content {
  padding: 20px;
  color: #fff;
}

.project-content h3 {
  margin-bottom: 10px;
}

.project-content .details {
  color: #ccc;
  text-decoration: none;
  border: none;
  padding: 5px 10px;
}

.project-content .details:hover {
  background-color: #fff;
  color: #043959;
}
.view-project {
  display: inline-block;
  padding: 8px 16px;
  background-color: #043959;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.view-project:hover {
  background-color: #fff;
  color: #043959;
}
/*SKILLS*/
.skills {
  margin-top: 8vh;
  text-align: center;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-container h2 {
  margin-bottom: 20px;
}

.skill-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.skill {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.skill i {
  font-size: 3.5rem;
  transition: all 0.2s ease-in-out;
}

.skill span {
  margin-top: 0.5rem;
}

.skill i:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
.fa-html5 {
	color: red;
}
.fa-css3-alt {
	color: yellowgreen;
}
.fa-js {
	color: yellow;
}
.fa-react {
	color: dodgerblue;
}
.fa-bootstrap {
	color: blueviolet;
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}
/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}
